extends ../layout

block primary-content
  h1
    a(href=profile.facebook.link) #{profile.name}
  //- p=profile.facebook.location.name
  img(src='https://graph.facebook.com/' + profile.facebook.id + '/picture?type=large')
  mixin games-list(profile.games)
  mixin tags-list(profile.tags)
  

