mixin liveReload()
 | <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>

mixin authentication()
 - if (!everyauth.loggedIn)
   #fb-login.fb_button
     a.fb_button_medium(href='/auth/facebook')
       span#fb_login_text.fb_button_text
         Connect with Facebook

  - else
   h2 Authenticated
   - if (everyauth.facebook)
     h3=everyauth.facebook.user.name
 
   a(href='/logout') Logout
