mixin games-list(list)
  ul.games
    - for game in list
      mixin game-list-item(game)

mixin game-list-item(game)
  li  
    a(href='/games/'+game._id) #{game.title}
    br
    | #{game.information}

mixin game(game)
  h3 #{game.title}
  p #{game.information}
  a(href='/games/' + game._id + '/edit') Edit

