extends layout

block primary-content
  .row
    div(class='twelve columns')
      .panel
        img(src='http://dummyimage.com/600x300/808080/fff/&text=Features+titles')
  .row
    div(class='six columns')
      .panel
        h4 My games
        mixin games-list(games)
    div(class='six columns')
      .panel
        h4 Tags
        mixin tags-list(tags)
  .row
    div(class='four columns')
      .panel
          a(href='/games/edit') Add a game
    div(class='four columns')
      .panel
        p Edit a game
    div(class='four columns')
      .panel
        p Invite a friend

block secondary-content
  h4 Latest games
  p List recently added games!
  mixin games-list(games)
  
  h4 List of available game
  p Is it time to find out a new game?
  mixin games-list(games)
  
