include mixins/features/common

!!! html
//if lt IE 7
    html(class="no-js ie6 oldie", lang="en")
//if IE 7
    html(class="no-js ie7 oldie", lang="en")
//if IE 8
    html(class="no-js ie8 oldie", lang="en")
// [if gt IE 8] <!
html(class="no-js", lang="en")
  // <![endif]
  head
    meta(charset='utf-8')
    title
    
    // include CSS Files
    link(rel='stylesheet', href='/stylesheets/foundation.css')
    link(rel='stylesheet', href='/stylesheets/app.css')
    
    |   <!--[if lt IE 9]>
    |   <link rel="stylesheet" href="stylesheets/ie.css">
    |   <![endif]-->

    |   <!-- IE Fix for HTML5 Tags -->
    |   <!--[if lt IE 9]>
    |     <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    |   <![endif]-->
  
  body
    // container
    .container
      .row
        div(class='twelve columns')
          mixin header()
      .row
        div(class='eight columns')
          block primary-content

        div(class='four columns')
          mixin authentication()
          block secondary-content
      mixin footer()
    // container
    // Included JS Files
    script(src='javascripts/jquery.min.js')
    script(src='javascripts/modernizr.foundation.js')
    script(src='javascripts/foundation.js')
    script(src='javascripts/app.js')
    script(src='http://static.ak.fbcdn.net/connect/en_US/core.js')
    mixin liveReload()