mixin header()
  .panel
    h1 Header containing menu

mixin authentication()
  - if (!everyauth.loggedIn)
    #fb-login.fb_button
      a.fb_button_medium(href='/auth/facebook')
        span#fb_login_text.fb_button_text
          Connect with Facebook
  - else
    h2 Authenticated
    - if (everyauth.facebook)
      h3 Facebook User Data
      p= JSON.stringify(everyauth.facebook.user)
    h3
      a(href='/logout') Logout
      
mixin liveReload()
 | <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>


mixin game-list(list)
  ul.games
    - for game in list
      mixin game(game)

mixin game(game)
  li  
    a(href='/game/'+game._id) #{game.title}
    br
    | #{game.information}
    br
    ul.tags
    - for tag i game.tags
      p #{tag}

mixin footer()
  .row
    div(class='twelve columns')
      .panel
        p this is a footer