extends ../layout

block primary-content
  h1 Edit Tag
  form(action='/tags/' + tag._id, method='POST')
    input(type='hidden', name='_method', value='PUT')
    div
      label(for='tag_title') Title :
      input(type='text', id='tag_title', name='tag[title]', value=tag.title)
    div
      label(for='tag_description') Description :
      textarea(id='tag_description', name='tag[description]', rows=20 ) #{tag.description}
    div
      input(type='submit', value='Send')

