extends ../layout

block primary-content
  h1 Edit game
  form(action='/games/' + game._id, method='POST')
    input(type='hidden', name='_method', value='PUT')
    div
      label(for='game_title') Title :
      input(type='text', id='game_title', name='game[title]', value=game.title)
    div
      label(for='game_information') Information :
      textarea(id='game_information', name='game[information]', rows=20 ) #{game.information}
    div
      input(type='submit', value='Send')

